<a href="https://colab.research.google.com/github/Desalitcpe/Literals-Operators-and-Variables/blob/main/Literals%2C_Operators%2C_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
value=5
print(value)
print(type(value))

5
<class 'int'>

In [5]:
value=5.0
print(value)
print(type(value))

5.0
<class 'float'>

In [7]:
value=2+3j
print(value)
print(type(value))

(2+3j)
<class 'complex'>

In [8]:
value=Hello World'
print(value)
print(type(value))

Hello World
<class 'str'>

In [9]:
value="Hello World"
print(value)
print(type(value))

Hello World
<class 'str'>

In [10]:
value=True
print(value)
print(type(value))

True
<class 'bool'>

In [11]:
value=False
print(value)
print(type(value))

False
<class 'bool'>

In [12]:
value=[1,2,3,4,5]
print(value)
print(type(value))

[1, 2, 3, 4, 5]
<class 'list'>

In [14]:
value=(1,2,3,4,5)
print(value)
print(type(value))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [54]:
value={'name':'Hanz'}
print(value)
print(type(value))

{'name': 'Hanz'}
<class 'dict'>

In [16]:
value=None
print(value)
print(type(value))

None
<class 'NoneType'>

**The following are with adding two variables and how they behave during the said operator is present**

In [24]:
value=5
value2=-6
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value+value2)

5
-6
<class 'int'>
<class 'int'>
-1

In [19]:
value, value2=50 ,6
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value+value2)

50
6
<class 'int'>
<class 'int'>
56

In [20]:
value, value2=-5 ,6.1
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value+value2)

-5
6.1
<class 'int'>
<class 'float'>
1.0999999999999996

In [22]:
value, value2="hello " ,"world"
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value+value2)

hello
world
<class 'str'>
<class 'str'>
hello world

In [23]:
value, value2=[1,2,3] ,[4,5,6]
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value+value2)

[1, 2, 3]
[4, 5, 6]
<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5, 6]

In [25]:
value, value2=(1,2,3) ,(4,5,6)
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value+value2)

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4, 5, 6)

In [46]:
value, value2={"name":"Hanz"}, {"age":19}
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value | value2)
#the operatoe such as addition does not work with dictionary data type, instead it foolows and use different symbols instead such as "|" as an example to merge teo values at once

{'name': 'Hanz'}
{'age': 19}
<class 'dict'>
<class 'dict'>
{'name': 'Hanz', 'age': 19}

**The following are with subtracting two variables and how they behave during said operator**

In [36]:
value=5
value2=-6
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value-value2)

5
-6
<class 'int'>
<class 'int'>
11

In [37]:
value, value2=50 ,6
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value-value2)

50
6
<class 'int'>
<class 'int'>
44

In [38]:
value, value2=-5 ,6.1
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value-value2)

-5
6.1
<class 'int'>
<class 'float'>
-11.1

In [41]:
value, value2="hello " ,"world"
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value-value2)
#the subtraction (-) does not work with two string data types that lead to type error

hello
world
<class 'str'>
<class 'str'>

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [43]:
value, value2=[1,2,3] ,[4,5,6]
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value-value2)
#operators such as subtraction does not work with eliminating values that set in the list, instead it follows a different syntax instead to work not using subtraction operator

[1, 2, 3]
[4, 5, 6]
<class 'list'>
<class 'list'>

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [44]:
value, value2=(1,2,3) ,(4,5,6)
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value-value2)
#operators such as subtraction does not work with eliminating values that set in the tuple, instead it follows a different syntax instead to work not using subtraction operator

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
<class 'tuple'>

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [48]:
value, value2={"name":"Hanz"}, {"age":19}
print(value)
print(value2)
print(type(value))
print(type(value2))
#displaying the values and its data type

print(value - value2)
#operators such as subtraction does not work with eliminating values that set in the dict data types, instead it follows a different syntax instead to work not using subtraction operator

{'name': 'Hanz'}
{'age': 19}
<class 'dict'>
<class 'dict'>

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

**The following are using different operators with two integer values**

In [52]:
value, value2=30 ,4
print(type(value))
print(type(value2))

print(value*value2)
print(value2**2)
print(value2**3)
print(value*value2+value2**2+1)
print(value/value2)
print(value%value2)

<class 'int'>
<class 'int'>
120
16
64
137
7.5
2

In [64]:
#input data in python
name=input("enter your name: ")
print(type(name))
print(name)

weight=float(input("enter yout weight(kg): "))
print(type(weight))
print(weight)

height=float(input("enter your height(m): "))
print(type(height))
print(height)

height= height**2
bmi=weight/(height)
print(bmi)

#the error is have earlier is the data i input is string, so i implement convertion from string to float

enter your name: Sean
<class 'str'>
Sean
enter yout weight(kg): 56
<class 'float'>
56.0
enter your height(m): 1.7
<class 'float'>
1.7
19.377162629757787

In [62]:
#input data in python
name=input("enter your name: ")
print(type(name))
print(name)

weight=float(input("enter yout weight(kg): "))
print(type(weight))
print(weight)

height=float(input("enter your height(m): "))
print(type(height))
print(height)

height= height**2
bmi=weight/(height)
print(bmi)

enter your name: John Ray
<class 'str'>
John Ray
enter yout weight(kg): 60
<class 'float'>
60.0
enter your height(m): 1.6764
<class 'float'>
1.6764
21.349904958763087

***The following are Le Tasks***

In [67]:
#Write the Python equivalent code of the following C code:
#int main(){
#float base = 0, height = 0, area = 0; printf(“Enter the base of the triangle: “); scanf(“%f”, &base);
#printf(“Enter the height of the triangle: “); scanf(“%f”, &height);
#area = (1/2)*base*height;
#print(“The area of the triangle is %f”, area);
#}

base= (float(input("enter the base of the triangle:")))
height= (float(input("enter the height of the triangle:")))
area= float((1/2)*base*height)
print(area)

enter the base of the triangle:3
enter the height of the triangle:6
9.0

In [68]:
celsius=float(input("enter the value of celsius"))
fahrenheit=(celsius*1.8)+32
print(fahrenheit)

enter the value of celsius45
113.0

In [72]:
from math import sqrt
x_initial=float(input("enter the value of x initial: "))
x_final=float(input("enter the value of x final: "))
y_initial=float(input("enter the value of y initial: "))
y_final=float(input("enter the value of y final: "))

d=float(sqrt((x_final-x_initial)**2+(y_final-y_initial)**2))
print(d)

enter the value of x initial2
enter the value of x final-3
enter the value of y initial2
enter the value of y final3
5.0990195135927845